*{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
body {
    background: linear-gradient(170deg, black, #f21628 120%);
}
.recommandation {
    display: grid;
    grid-template-columns: 20% 30% 20%;
    grid-template-rows: 5% 10% 70% 15%;
    padding: 20px;
    padding-top: 180px;
}

.recommandation h1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 0;
    color: #f21628;
}

.recommandation img {
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:2;
    grid-row-end: 4;
    max-width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

.recommandation h2 {
    margin: 0;
    font-size: 1.2em;
    grid-column-start:2;
    grid-row-start: 2;
    color: #fff;
}

.recommandation p {
    margin: 0;
    grid-column-start: 2;
    grid-row-start: 3;
    color: #fff;
}

.Nouveautes {
    padding: 20px;
}

.Nouveautes h1{
    color: #fff;
    text-align: center;
}

.Nouveautes h2 {
    color:#fff;
}
.Nouveautes img {
    height: 300px;

}
.recommandation button {
    color: #f21628;
    background: none;
    border-radius: 10px;
    border: 1px solid #f21628;
    grid-row-start: 4;
    grid-column-start: 2;
    font-size: 25px;
}